<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TopHeader</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <div><%- include('../header/topHeaderBeforLogin') %></div>
    <div><%- include('../header/loginModel') %></div>

    <section class="bg-slate-200">
        <div>
          <img class="max-h-[500px]  w-full object-cover"
            src="https://www.sskunjpura.org/admin/logged/images/homeslider/c81e728d9d4c2f636f067f89cc14862c2-Academic-Block-(SS-Kunjpura)-(1).jpg"
            alt="">
        </div>
    </section>


    <section class="p-7">
        <div class="grid lg:grid-cols-4 sm:grid-cols-2 md:grid-cols-4 grid-cols-2  gap-6 sm:w-[90%] w-full m-auto">
            <div class="h-[170px] sm:h-[200px]">
                <img class="object-cover rounded-[10px] w-full h-full hover:shadow-[0px_-6px_3px_yellow] shadow-[0px_0px_5px_0px_skyblue] hover:scale-105 duration-500 transform transition-all ease-in-out" src="https://images.hindustantimes.com/rf/image_size_960x540/HT/p2/2019/07/24/Pictures/_5a1b9884-ade8-11e9-8ce3-2af94b9ec815.jpg" alt="loading...">
            </div>
            <div class=" h-[170px] sm:h-[200px]">
                <img class="object-cover w-full h-full rounded-[10px] hover:shadow-[0px_7px_3px_0px_#0010ff9e] shadow-[0px_0px_5px_0px_skyblue] hover:scale-105 duration-500 transform transition-all ease-in-out" src="https://cdndailyexcelsior.b-cdn.net/wp-content/uploads/2021/11/page9-3-4.jpg" alt="loading...">
            </div>
            
           
            <div class="h-[170px] sm:h-[200px]">
                <img class="object-cover w-full h-full rounded-[10px] hover:shadow-[0px_-6px_3px_yellow] shadow-[0px_0px_5px_0px_skyblue] hover:scale-105 duration-500 transform transition-all ease-in-out" src="https://media.istockphoto.com/id/1409722748/photo/students-raising-hands-while-teacher-asking-them-questions-in-classroom.jpg?s=612x612&w=0&k=20&c=NbVChOV9wIbQOhUD6BqpouZHHBbyQ2rkSjaVfIhpMv8=" alt="loading...">
            </div>
            <div class=" h-[170px] sm:h-[200px]">
                <img class="object-cover w-full h-full rounded-[10px] hover:shadow-[0px_7px_3px_0px_#0010ff9e] shadow-[0px_0px_5px_0px_skyblue] hover:scale-105 duration-500 transform transition-all ease-in-out" src="https://c8.alamy.com/comp/2JPXDHK/high-school-students-raising-hand-to-ask-a-question-during-lecture-in-classroom-2JPXDHK.jpg" alt="loading...">
            </div>
            
        </div>
    </section>

    <div><%- include('../header/footer') %></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../../controller/login/login.js"></script>
</body>

</html>


