<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="p-4 bg-[#2a323c]">
       <div class="w-[90%] m-auto flex items-center justify-center gap-y-3 flex-col">
        <i class="fa-brands fa-slack text-[42px] text-[#a6adbb]"></i>
            <p class="uppercase font-semibold text-[#a6adbb] text-[14px] sm:text-[18px]">Nda Block</p>
            <div>
                <ul class="flex flex-row gap-x-3">
                    <li><a href="#"><i class="fa-brands fa-twitter text-[20px] text-[#a6adbb]  "></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-square-instagram text-[20px] text-[#a6adbb]  "></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-facebook text-[20px] text-[#a6adbb]  "></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-youtube text-[20px] text-[#a6adbb] "></i></a></li>
                    
                </ul>
            </div>
            <span class="text-[#a6adbb] text-[14px] "> Copyright<i class="fa-regular fa-copyright p-1"></i>2024 - All right reserved </span>
       </div>
    </div>
</body>
</html>