<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>
<body>

    <div class="w-full border shadow-[inset_0px_-1px_20px_0px_#3600ff38] ">
        <div class="w-[90%] mx-auto  px-0 flex justify-between items-center">
            <div class="flex items-center mix-blend-color">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjRKZH2XEFHdEkiQJ6JilB54ypDt2QL5ybeA&s"
                    alt="School Logo" class="h-14 w-14 mr-1">
                <span class="text-red-950 text-base">School</span>
            </div>
           
            <div class="flex gap-x-2  w-full  justify-between">


                <div class="md:w-[70%] lg:w-[60%] w-full flex md:justify-end absolute top-[-200px] sm:opacity-100 opacity-0 transform transition-all ease-in-out duration-500 left-0  p-5 md:p-0 md:static bg-[#111827] md:bg-opacity-0 topHeaderMeanubar">
                    <ul class="flex md:space-x-4 flex-col md:flex-row gap-3 md:gap-0  w-full  md:justify-end ">
                        
                        <li class=""><a href="/marks" class="inline-block w-full text-white hover:text-white border border-purple-700 hover:bg-purple-800 focus:ring-2 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-4 py-2 text-center  dark:border-purple-400 dark:text-purple-400 dark:hover:text-white dark:hover:bg-purple-500 dark:focus:ring-purple-900">Marks</a></li>
                        <li><a href="/fee" class="inline-block w-full   text-white hover:text-white border border-purple-700 hover:bg-purple-800 focus:ring-2 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-4 py-2 text-center  dark:border-purple-400 dark:text-purple-400 dark:hover:text-white dark:hover:bg-purple-500 dark:focus:ring-purple-900">Fees </a></li>
                       
                        <button
                        class="uppercase   text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-2 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-4 py-2 text-center usereProfileModel "
                        type="button"> <i class="fa-solid fa-circle-user pr-1"></i><%=result[0].student_name%></a>
                    </button>
                    </ul>

                    
    
                </div>
                <div class="md:w-[30%] w-full gap-3 flex justify-end ">
                    
                
                
                <a href="/sessionDestroy" class="text-white bg-[#050708] hover:bg-[#050708]/90 focus:ring-4 focus:outline-none focus:ring-[#050708]/50 font-medium rounded-lg text-sm px-3 py-2 text-center inline-flex items-center dark:focus:ring-[#050708]/50 dark:hover:bg-[#050708]/30 ">Logout<i class="fa-solid fa-right-from-bracket pl-1 text-center"></i></a>

                <button
                    class="text-white bg-[#050708] hover:bg-[#050708]/90 focus:ring-2 focus:outline-none focus:ring-[#050708]/50 font-medium rounded-lg text-sm px-3 py-2 text-center  items-center dark:focus:ring-[#050708]/50 dark:hover:bg-[#050708]/30  md:hidden  headerTopToogleBtn"
                    type="button"> <i class="fa-solid fa-bars"></i></a>
                </button>
            </div>


                
               

            </div>
        </div 
    </div>

</body>
</html>